#IDE文件
.vs/
.idea/
_ReSharper.CSharp/

#svn
*/.svn/
.svn/

#Excel的临时文件
~$*.xlsx
~$*.xlsx.meta

#Unity相关目录
.gradle

/*.csproj
*.vsconfig


#Unity/Assets


#其他
.objs/
.DS_Store
/*.user
bin/
Bin/
/Log
/Logs
/**/obj/
/obj/
/Release
/Temp
/Tools/MongoDB

*/Temp/
*/TestResults/






MainPackage.txt

.omx/

.worktrees/
