<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MemoryPack" version="1.21.4" manuallyInstalled="true" />
  <package id="MemoryPack.Core" version="1.21.4" />
  <package id="MemoryPack.Generator" version="1.21.4" />
  <package id="MemoryPack.Streaming" version="1.21.4" manuallyInstalled="true" />
  <package id="System.IO.Pipelines" version="6.0.3" />
</packages>